@import "../../styles/colors";
@import "../../styles/helpers";
@import "../../styles/typography";

.ArticlesPage{
  @include container;
  max-width: 650px;
  width: 100%;
  margin-left: 0;
  overflow-x: hidden;
  margin-top: 16px;
  padding-right: 0 !important;



  &_hero{
    padding-bottom: 48px;

    @include lp(){
      padding-bottom: 64px;
    }
    &_ttl{
      @include display-2;
      width: fit-content;
      &_super{
        @include body-2;
      }
    }

    &_desc{
      @include body-2;
      margin-top: 8px;

    }
  }

  &_posts{
    padding-bottom: 64px;
    // margin-left: 32px;

    &_item{
      display: flex;
      flex-direction: column;
      justify-content: center;

      &,&:hover{
        background: none;
        border-bottom: none;
      }

      &:hover{
        h2{
          text-decoration: underline;
        }
      }

      &:not(:first-child){
        margin-top: 32px;
      }

      &_ttl{
        @include heading-2;
        font-weight: 500;
        text-decoration: underline;
      }
      &_desc{
        margin-top: 16px;
        @include body-2;
      }

      &_link{
        margin-top: 16px;
        display: block;
      }
    }
  }
}

.ArticlePage{
  display: grid;
  grid-template-columns: 1fr;

 &_main{
  margin-top: 16px;
  padding-bottom: 64px;
  border-bottom: 2px solid $theme-light;

  @include lp(){
    border-right: 2px solid $theme-light;
  }
  &_header{
    @include container;
    &_ttl{
      @include display-2;
      position: relative;
      width: fit-content;
      text-transform: uppercase;
    }

  }
  &_content{
    @include container;
    width: 100%;
    max-width: 650px;
    overflow: hidden;
    margin-left: 0;
    margin-top: 24px;

    @include md(){
      padding-right: 0 !important;
    }





    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
      margin: 32px 0 12px;
      font-weight: 700;
      // font-family: "Avenir Next";
      &:first-child{
        margin-top: 0;
      }
    }
    h1, h2{
      margin-top: 40px;
    }
    p,
    ul,
    ol {
      font-weight: 500;
      @include body-2;
      &:not(:last-child){
        margin-bottom: 20px;
        margin-top: 0;
      }
    }
    code {
      width: 100%;
      // white-space: normal;
      word-break: break-word;
      @include body-3;
    }

    li > p,
    blockquote > p {
      margin: 0;
    }


    blockquote {
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0;
      margin-inline-end: 0px;
      border-left-color: $theme-tertiary;
      border-left-width: 2px;
      border-left-style: solid;
      padding: 10px 20px;
      margin-bottom: 30px;
      font-style: italic;
    }

    pre {
      margin: 30px 0;
      padding: 20px;
      border-radius: 10px;
      -webkit-overflow-scrolling: touch;
      overflow: auto;
    }
  }
  &_comments{
    margin-top: 64px;
  }
 }
}



